<main>
    <section id="section-login">
       <h2>Login</h2>
        <form class="row g-3">
            
              <label for="staticUsuario" class="visually-hidden">Usuário</label>
              <input type="text"  class="form-control" id="staticUsuario" placeholder="email@examplo.com">
          
              <label for="inputSenha" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputSenha" placeholder="Sua senha">
            
              <button type="submit" class="btn btn-primary mb-3">Login</button>
            
          </form> 
    </section>
</main>