.example-spacer {
    flex: 1 1 auto;
  }

  span{
    padding: 5px;
  }

  img{
    height: 60px;
    width: 80px;
    border-radius: 50px;
  }

a{
  text-decoration: none;
  color: white;
}