<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner.jpg" class="d-block w-100" alt="Star Wars">
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/banner2.jpg" class="d-block w-100" alt="Star Wars">
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/bannergame1.jpg" class="d-block w-100" alt="Star Wars">
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/banner4.jpg" class="d-block w-100" alt="Star Wars">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>JOGOS EM PROMOÇÃO</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="cartoes-card">
                <img mat-card-image src="./assets/img/jogo1.jpg">
                <mat-card-header>

                    <mat-card-title>Super Mario Odyssey
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <p>
                        "Super Mario Odyssey" é um jogo de vídeo desenvolvido e publicado pela Nintendo para o console
                        Nintendo Switch. Lançado em outubro de 2017, o jogo é uma adição à amada série Super Mario,
                        apresentando uma jogabilidade de plataforma 3D expansiva e cativante.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$ 300,00</P>
                    <button mat-button>COMPRAR</button>

                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="cartoes-card">
                <img mat-card-image src="./assets/img/jogo2.jpg">
                <mat-card-header>

                    <mat-card-title>Dying Light 2
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <p>
                        "Dying Light 2" é um jogo de vídeo de ação e sobrevivência em primeira pessoa desenvolvido e
                        publicado pela Techland. É a sequência do aclamado jogo "Dying Light", lançado em 2015. "Dying
                        Light 2" foi lançado em 4 de fevereiro de 2022 para várias plataformas, incluindo PlayStation,
                        Xbox e PC.


                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$ 200,00</P>
                    <button mat-button>COMPRAR</button>

                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="cartoes-card">
                <img mat-card-image src="./assets/img/jogo3.jpg">
                <mat-card-header>

                    <mat-card-title>Avatar
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <p>
                        Avatar: Frontiers of Pandora é um jogo eletrônico de ação e aventura em mundo aberto,
                        desenvolvido pela Massive Entertainment e publicado pela Ubisoft.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$ 100,00</P>
                    <button mat-button>COMPRAR</button>

                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>






</main>